* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.postBox {
  background-color: white;
  height: auto;
  width: auto;
  border-radius: 15px;
}
.proiflePic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.profileName {
  font-size: 25px;
  margin-bottom: 0px;
  color: #385898;
}
.postDate {
  font-size: 15px;
}
.postDescription {
  font-size: 15px;
}
.postImage {
  width: 100%;
}
.MuiSvgIcon-root {
  font-size: 1.5rem !important;
}
.actionBtnName {
  font-size: 1.5rem !important;
}
.actionBtnName1 {
  font-size: 1.5rem !important;
  /* border: 1px solid black; */
  color: #385898;
}
.abc {
  display: flex;
  /* flex-direction: row; */
  padding: 10px;
  position: relative;
  justify-content: space-around;
}
.allActionIcons {
  background-color: #fff;
  position: absolute;
  bottom: 40px;
  left: 0px;
  padding: 7px;
  border-radius: 25px;
}
.like{
  position: relative;
}

.likeData{
  font-size: 15px;
}
