* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.postBox {
  background-color: white;
  height: auto;
  width: 600px;
  border-radius: 15px;
}
.proiflePic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.profileName {
  font-size: 25px;
  margin-bottom: 0px;
  color: #385898;
}
.postDate {
  font-size: 15px;
}
.postDescription {
  font-size: 15px;
}
.postImage {
  width: 100%;
}
.MuiSvgIcon-root {
  font-size: 1.5rem !important;
}
.actionBtnName {
  font-size: 1.5rem !important;
}
.abc {
  display: flex;
  /* flex-direction: row; */
  padding: 10px;
  position: relative;
  justify-content: space-around;
}
.allActionIcons {
  /* margin-left: 30px;
  top: 118%;
  position: absolute;
  z-index: 10; */
  /* margin-right: 65px;
  position: absolute; */
  /* top: 95%; */
  /* margin-top: -2.5%;
  z-index: 10; */
  background-color: #fff;
  position: absolute;
  bottom: 40px;
  left: 0px;
  padding: 7px;
  border-radius: 25px;
  /* margin-top: -2.5%; */
  /* bottom: 50% */
}
.like{
  position: relative;
}

.likeData{
  font-size: 15px;
}