* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.postBox {
  background-color: white;
  height: auto;
  width: 400px;
}
.proiflePic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.profileName {
  font-size: 25px;
  margin-bottom: 0px;
  color: #385898;
}
.postDate {
  font-size: 15px;
}
.postDescription {
  font-size: 15px;
}
.postImage {
  width: 100%;
}
.MuiSvgIcon-root {
  font-size: 1.5rem !important;
}
.actionBtnName {
  font-size: 1.5rem !important;
}
.abc {
  padding:10px;
  display: flex;
  justify-content: space-around;
}
